<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<body>
<th:block layout:fragment="css"><link rel="stylesheet" href="/css/common.css"></th:block><!--넣고자 하는 css 이름 변경-->
<section layout:fragment="content" id="container" class="sub pagename pageSubname"> <!--안내페이지는 sub 붙여야함(크키 및 쉐도우가 다름)-->
  <h1>이벤트</h1>
  <div id="content" class="content">
    <form name="event" method="post" action="/board/event_proc" enctype="multipart/form-data">
      <input type="hidden" name="board_type" th:value="${boardType}">
      <input type="hidden" name="group_idx" th:value="${groupIdx}">
      <table>
        <tr>
          <td colspan="2">현재 페이지는 관리자 전용 페이지입니다.</td>
        </tr>
        <tr>
          <td>제목</td>
          <td><input type="text" name="title" value=""></td>
        </tr>
        <tr>
          <td>내용</td>
          <td><textarea cols="30" rows="2" name="content"></textarea></td>
        </tr>
        <tr>
          <td>이미지 첨부파일</td>
          <td><input type="file" name="file"></td>
        </tr>
        <tr>
          <td colspan="2"><button type="submit">작성하기</button></td>
        </tr>
      </table>
    </form>
  </div><!--E content-->
</section><!--E container-->
</body>
</html>
