<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- title을 동적으로 삽입 -->
  <title th:text="${webtitle} ?: '만화방초'"></title>


  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <th:block layout:fragment="css"></th:block>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.js"></script>
  <script>
    $(document).ready(function(){
      $(".slider").bxSlider({
       auto: true,
       autoControls: true,
       stopAutoOnClick: true,
       pager: true,
       pager: false,  // 페이지 네비게이션 숨김
       controls: false,  // 좌우 화살표 숨김
       speed: 170
     });

      $(".subSlider").bxSlider({
       auto: true,
       autoControls: true,
       stopAutoOnClick: true,
       pager: true,
       pager: false,  // 페이지 네비게이션 숨김
       controls: false,  // 좌우 화살표 숨김
       speed: 170
     });

    });
  </script>

  <!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3bf69ce9275feb61004f536b17f363b9"></script>-->
</head>
</html>