<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragment/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/main.css">
</th:block>

<body>
<section layout:fragment="content" class="main">


    <div id="ms1" class="container bg-holder" data-width="1200" data-height="700">
        <!--메인 이미지 캐러셀-->
        <div class="slider">
            <div class="slide slide1">
                <img src="./image/sample.jpg">
            </div>
            <div class="slide slide2">
                <img src="./image/sample.jpg">
            </div>
            <div class="slide slide3">
                <img src="./image/sample.jpg">
            </div>
            <div class="slide slide4">
                <img src="./image/sample.jpg">
            </div>
            <div class="slide slide5">
                <img src="./image/sample.jpg">
            </div>
        </div>
    </div>

    <div id="ms2" class="container bg-holder" data-width="1200" data-height="700">
        <!--서브 캐러셀-->
        <article class="subSlider">

            <div class="subSlideWrapper">
                <!-- 왼쪽 큰 이미지 -->
                <div class="mainImage">
                    <img src="./image/sample.jpg" alt="메인 이미지">
                </div>

                <!-- 오른쪽: 서브 이미지 + 설명 -->
                <div class="sideContent">
                    <div class="subImage">
                        <img src="./image/sample.jpg" alt="서브 이미지">
                    </div>
                    <h3>이미지 별 설명</h3>
                    <p>A subheading for this section, as long or as short as you like</p>
                    <div class="buttons">
                        <button class="btn xi-arrow-left"></button>
                        <button class="btn xi-arrow-right"></button>
                        <a href="#"><button class="more">더 보기</button></a>
                    </div>
                </div>
            </div>

            <div class="subSlideWrapper">
                <!-- 왼쪽 큰 이미지 -->
                <div class="mainImage">
                    <img src="/image/sample.jpg" alt="메인 이미지">
                </div>

                <!-- 오른쪽: 서브 이미지 + 설명 -->
                <div class="sideContent">
                    <div class="subImage">
                        <img src="./image/sample.jpg" alt="서브 이미지">
                    </div>
                    <h3>이미지 별 설명</h3>
                    <p>A subheading for this section, as long or as short as you like</p>
                    <div class="buttons">
                        <button class="btn xi-arrow-left"></button>
                        <button class="btn xi-arrow-right"></button>
                        <a href="#"><button class="more">더 보기</button></a>
                    </div>
                </div>
            </div>

            <div class="subSlideWrapper">
                <!-- 왼쪽 큰 이미지 -->
                <div class="mainImage">
                    <img src="./image/sample.jpg" alt="메인 이미지">
                </div>

                <!-- 오른쪽: 서브 이미지 + 설명 -->
                <div class="sideContent">
                    <div class="subImage">
                        <img src="./image/sample.jpg" alt="서브 이미지">
                    </div>
                    <h3>이미지 별 설명</h3>
                    <p>A subheading for this section, as long or as short as you like</p>
                    <div class="buttons">
                        <button class="btn xi-arrow-left"></button>
                        <button class="btn xi-arrow-right"></button>
                        <a href="#"><button class="more">더 보기</button></a>
                    </div>
                </div>
            </div>

        </article>
    </div>

    <div id="ms3" class="container bg-holder" data-width="1200" data-height="700">
        <!--중간 배너-->
        <article id="banner">
            <div>
                <h3>배너 타이틀</h3>
                <p>한 줄 글</p>
                <a href="#"><button>보러가기</button></a>
            </div>
        </article>

        <!--이벤트-->
        <article id="event">
            <div>
                <img src="./image/sample.jpg">
                <div>
                    <h3 th:text="${event[0].title}"></h3>
                    <p th:text="${event[0].content.length() > 50} ? ${#strings.substring(event[0].content, 0, 50) + '...'} : ${event[0].content}"></p>
                    <a href=""><button class="xi-arrow-right"></button></a>
                </div>
            </div>
            <div>
                <img src="./image/sample.jpg">
                <div>
                    <h3 th:text="${event[1].title}"></h3>
                    <p th:text="${event[1].content.length() > 50} ? ${#strings.substring(event[1].content, 0, 50) + '...'} : ${event[1].content}"></p>
                    <a href=""><button class="xi-arrow-right"></button></a>
                </div>
            </div>
        </article>
    </div>

    <div id="ms4" class="container bg-holder" data-width="1200" data-height="700">
        <!--갤러리-->
        <div class="gallerySlider">
            <ul class="gaSlider">
                <li><img src="/image/sample.jpg" alt="갤러리 이미지 1"></li>
                <li><img src="/image/sample.jpg" alt="갤러리 이미지 2"></li>
                <li><img src="/image/sample.jpg" alt="갤러리 이미지 3"></li>
            </ul>
        </div>
    </div>

    <div id="ms5" class="container bg-holder" data-width="1200" data-height="700">
        <!--게시판 / 오시는 길-->
        <article id="board">
            <div>
                <div class="board boards">
                    <h2>게시판</h2>
                    <a href=""><button class="btn more">더 보기</button></a>
                </div>

                <div class="board contents">
                    <div class="board content">
                        <p th:text="${board[1].title}"></p><br>
                        <sub th:text="${#dates.format(board[1].createdAt, 'yyyy년 MM월 dd일 a hh:mm')}"></sub><br>
                        <p th:text="${board[1].content.length() > 50} ? ${#strings.substring(board[1].content, 0, 50) + '...'} : ${board[1].content}"></p>
                        <a href=""><button class="xi-arrow-right"></button></a>
                    </div>

                    <div class="board content">
                        <p th:text="${board[2].title}"></p><br>
                        <sub th:text="${#dates.format(board[2].createdAt, 'yyyy년 MM월 dd일 a hh:mm')}"></sub><br>
                        <p th:text="${board[1].content.length() > 50} ? ${#strings.substring(board[2].content, 0, 50) + '...'} : ${board[1].content}"></p>
                        <a href=""><button class="xi-arrow-right"></button></a>
                    </div>

                </div>
            </div>
            <div class="mapBox">
                <div id="map"></div><!--맵스-->
                <div id="boardMap">
                    <h3>오시는 길</h3>
                    <p>경상남도 고성군 거류면 은월리 17-5</p>
                    <a href=""><button>자세히</button></a>
                </div>
            </div>
        </article>
    </div>
    <a href="#" class="scroll-top"><button class="btn xi-arrow-up"></button></a>

</section>
</body>
</html><!--E contents-->